.container{
    margin: 0 auto;
    max-width: 400px;
    text-align:center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
    background-image:url("https://media1.tenor.com/m/y1Uw57HsOW0AAAAC/ashton-hall-ashton.gif");
    background-size:cover;
}
body{
    background-image:url("https://media1.tenor.com/m/kAeCZoH0mtMAAAAd/ashton-hall-ashton-hall-meme.gif");
    background-repeat:no-repeat;
    background-size:cover;
}

.timer{
    font-size: 72px;
    color:red;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlqfOsIURlqz2dqmUvbCwYYYhZqYiZJIaukg&s");
}

#start{
    background-color: #27ae60;

}

#stop{
    background: #c0392b;
}

#reset{
    background-color:#7f8c8d;
}

button:hover{
    opacity: .7;
}
button{
    font-size:18px;
    padding:10px 20px;
    margin: 10px;
    color: #ffffff;
    background-color:black;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}